<ul>
  <li *ngFor="let fitnes of fitness">
    <a routerLink="/fitness/{{ fitnes.id }}">
      <img src="{{ fitnes.imageUrl }}" alt="" />
      <div class="content">
        <div class="name">
          {{ fitnes.name }}
        </div>
        <span class="favorite {{ fitnes.favorite ? '' : 'not' }}"> ❤ </span>
        <div class="stars">
          <!-- <star-rating
              [value]="food.stars"
              [totalstars]="5"
              checkedcolor="red"
              uncheckedcolor="black"
              size="20px"
              [readonly]="true">
             </star-rating> -->
        </div>
        <div class="product-item-footer">
          <div class="trainings">
            <span *ngFor="let type of fitnes.types">
              {{ type }}
            </span>
          </div>
        </div>
        <div class="price">
          <span> Price: {{ fitnes.pricePerYear | currency }} </span>
        </div>
      </div>
    </a>
  </li>
</ul>

<!--  "@types/jasmine": "~4.3.0",
 "jasmine-core": "~4.6.0",
 "karma": "~6.4.0",
 "karma-chrome-launcher": "~3.2.0",
 "karma-coverage": "~2.2.0",
 "karma-jasmine": "~5.1.0",
 "karma-jasmine-html-reporter": "~2.1.0", -->
